<!-- Form -->
<form id="add_cat" method="POST">
    <div class="new_cat">
        <div class="form-group">
            <label for="id" class="text-light">Category ID</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="id" value="" placeholder="ID">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Category Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>