<%for (let i=0; i < categories.length; i++){%>

    <tr>
        <td>
            <%=categories[i].id%>
        </td>
        <td>
            <%=categories[i].name%>
        </td>
        <td>
            <a href="/update_cat" class="btn border-shadown update">
                <span class="text-gradient">
                    <i class="fas fa-pencil-alt"></i>
                </span>
            </a>

            <a class="btn border-shadown delete">
                <span class="text-gradient">
                    <i class="fas fa-times"></i>
                </span>
            </a>
        </td>
    </tr>
    <%}%>